@media (max-width: 768px) {
  header nav {
    height: 4rem;
    justify-content: space-around;
  }

  header nav ul {
    margin-right: 0;
  }

  header nav ul.home {
    margin-left: 0;
  }

  header nav ul.home li {
    margin: 0;
  }
}

@media (max-width: 425px) {
  header nav {
    display: none;
  }

  header nav.mobile {
    display: initial;
  }

  header nav.mobile {
    display: flex;
    width: 100%;
    height: 4rem;
    background: #EEEEEE;
  }

  header nav.mobile ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0;
  }

  header nav.mobile ul li {
    height: 4rem;
    margin: 0;
  }

  header nav.mobile ul li a {
    margin: 0;
  }

  header nav.mobile ul li a img {
    width: 3rem;
    height: 3rem;
  }

  header div.sub-header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 18rem;
  }

  header div.sub-header a img {
    margin-left: 2.5rem;
    margin-bottom: 3rem;
  }

  header div.sub-header div {
    width: 100%;
    align-items: center;
    margin-right: 0rem;
  }
}
