main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main section.banner {
  width: 100%;
  height: 40rem;
  background: url('../assets/images/banner.svg');
  margin-bottom: 3rem;
}

main section.banner > img {
  position: absolute;
  bottom: 15rem;
  left: 11.5rem;
}

main section.banner img.civic-generation {
  display: none;
}

main div.test-drive {
  position: fixed;
  top: 19rem;
  right: 9rem;
  width: 27rem;
  height: 35.2rem;
  border-radius: 0.4rem;
  background-color: #EEEEEE;
  box-shadow: 0px 0px 5px #00000029;
}

main div.test-drive div.title {
  display: flex;
  padding: 2rem;
}

main div.test-drive div.title span {
  width: 4rem;
  height: 4rem;
  background: url('../assets/images/phone-called.svg') no-repeat;
}

main div.test-drive div.title div {
  display: flex;
  flex-direction: column;
  margin-left: 1.1rem;
}

main div.test-drive div.title div h1 {
  font: 500 1.4rem FoundryMonoline-Regular;
}

main div.test-drive div.title div strong {
  color: #DF0209;
  font: 800 2.2rem FoundryMonoline-Regular;
}

main div.test-drive form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main div.test-drive input,
main div.test-drive select {
  width: 23rem;
  height: 3.6rem;
  margin-bottom: 0.5rem;
  padding-left: 0.5rem;
  border: 1px solid #C5C5C5;
  border-radius: 0.4rem;
  color: #C5C5C5;
  background-color: #EEEEEE;
  font: 400 1.4rem Roboto;
}

main div.test-drive input:focus,
main div.test-drive select:focus {
  background-color: #FFFFFF;
  transition: 300ms;
}

main div.test-drive input::placeholder {
  color: #C5C5C5;
}

main div.test-drive button {
  width: 23rem;
  height: 4.5rem;
  border-radius: 0.4rem;
  border: none;
  color: #FFFFFF;
  background-color: #1CB72A;
  font: bold 1.4rem Roboto;
}

main div.test-drive button:hover {
  background-color: #15a521;
  transition: 300ms;
}

main section.apresentation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-bottom: 3rem;
  padding-left: 9.8rem;
}

main section.apresentation h1 {
  margin-bottom: 3rem;
  font: 400 3.4rem FoundryMonoline-Regular;
  font-style: italic;
}

main section.apresentation div.civic-preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 34rem;
}

main section.apresentation div.civic-preview div {
  width: 17rem;
}

main section.apresentation div.civic-preview div img {
  margin-bottom: 0.5rem;
  padding: 0.3rem;
  border: 1px solid #D5D5D5;
}

main section.apresentation div.civic-preview > img {
  margin-left: 4rem;
  margin-top: 4rem;
}

main section.apresentation p {
  width: 87rem;
  margin-top: 4rem;
  margin-bottom: 5.3rem;
  font: 400 1.8rem FoundryMonoline-Regular;
  line-height: 2.4rem;
}

main section.new-experience {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  width: 100%;
  height: 41.5rem;
  margin-bottom: 6rem;
  background: url('../assets/images/inside-car.svg');
}

main section.new-experience h1 {
  margin-bottom: 0.7rem;
  margin-left: 9.8rem;
  color: #FFFFFF;
  font: 400 3.4rem FoundryMonoline-Regular;
  font-style: italic;
}

main section.new-experience p {
  margin-bottom: 3.5rem;
  margin-left: 9.8rem;
  color: #FFFFFF;
  font: 400 1.8rem FoundryMonoline-Regular;
}

main section.car-details {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
}

main section.car-details div.car-details-carousel {
  width: 86rem;
  margin-left: 9rem;
}

main section.car-details div.car-details-carousel div {
  display: flex;
  height: 35rem;
}

main section.car-details div.car-details-carousel img {
  padding: 0.3rem;
  border: 1px solid #D5D5D5;
}

main section.car-details div.car-details-carousel h1 {
  width: 100%;
  margin-top: 0.7rem;
  font: 800 2rem FoundryMonoline-Regular;
  font-style: italic;
  text-align: center;
}

main section.car-details div.car-details-carousel p {
  width: 26rem;
  margin-top: 1rem;
  font: 300 1.4rem FoundryMonoline-Regular;
  line-height: 2rem;
  text-align: center;
}

main section.choose-model {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  margin-top: 6rem;
  padding-left: 9.8rem;
}

main section.choose-model h1 {
  margin-bottom: 0.7rem;
  font: 400 3.4rem FoundryMonoline-Regular;
  font-style: italic;
}

main section.choose-model p {
  margin-bottom: 3rem;
  font: 400 1.8rem FoundryMonoline-Regular;
}

main section.choose-model nav.car-models {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87rem;
  height: 35rem;
}

main section.choose-model nav.car-models div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 27rem;
  height: 100%;
  border: 1px solid #D5D5D5;
}

main section.choose-model nav.car-models div p {
  margin-top: 1rem;
  font: 300 1.4rem FoundryMonoline-Regular;
  line-height: 2rem;
  text-align: center;
}

main section.choose-model nav.car-models div a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 23rem;
  height: 3.6rem;
  border-radius: 0.4rem;
  border: 1px solid #D5D5D5;
  color: #000000;
  background-color: #FFFFFF;
  font: 300 1.4rem Roboto;
}

main section.choose-model nav.car-models div a:hover {
  background-color: #EEEEEE;
  transition: 300ms;
}

main section.customer-service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 22.8rem;
  margin-top: 6rem;
  background-color: #EEEEEE;
}

main section.customer-service div {
  display: flex;
  align-items: center;
  justify-content: center;
}

main section.customer-service div a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 27rem;
  height: 8rem;
  border-radius: 0.5rem;
  border: 1px solid  #DF0209;
  background-color: #FFFFFF;
  color: #727B7A;
  font: 500 1.6rem FoundryMonoline-Regular;
  font-style: italic;
  letter-spacing: -0.07rem;
}

main section.customer-service div a + a {
  margin-left: 3rem;
}

main section.customer-service div a strong {
  color: #DF0209;
  font: 800 2.6rem FoundryMonoline-Regular;
  font-style: italic;
}

main section.customer-service div a.find-dealership {
  flex-direction: row;
  color: #000000;
  font: 500 1.4rem FoundryMonoline-Regular;
  font-style: normal;
}

main section.customer-service div a.find-dealership div {
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  margin-left: 1.5rem;
}

main section.customer-service div a.find-dealership span {
  width: 3rem;
  height: 4rem;
  margin-left: 0.7rem;
  background: url('../assets/images/locale2.svg') no-repeat;
}

main section.customer-service div a.find-dealership strong {
  font-size: 2.2rem;
  font-style: normal;
}

main section.customer-service h1 {
  width: 100%;
  margin-top: 1.7rem;
  font: 400 2.4rem FoundryMonoline-Regular;
  font-style: italic;
  text-align: center;
}

main section.customer-service nav {
  margin-top: 2rem;
  width: 100%;
}

main section.customer-service nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

main section.customer-service nav ul li a {
  margin-right: 2rem;
}

main section.customer-service nav ul li a:hover {
  opacity: 0.7;
  transition: 300ms;
}
